.homepage {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.homepage div {
    flex: 0 0 calc(25% - 15px);
    height: 300px;
    display: flex;
    
}

.container01,
.container03 {
    background-color: #68b8b5;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: white;


}

.container02,
.container04 {
    background-color: #dd9350;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: white;
    
}
.num01, .num02, .num03{
    font-size: 60px;
    line-height: 0px;
    
}
.container01 p,
.container02 p,
.container03 p,
.container04 p{

    padding-left: 10px;
}
.ICONIG, .ICONIG2, .ICONIG3{
    font-size: 40px;
    padding-left: 10px;
    
}
.homepage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide01,
.slide02,
.slide03,
.slide04 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: space-around;

}

.slide01,
.slide02,
.slide03,
.slide04 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


